.App {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 50px;
}

body {
  background-color: #fcfaf4;
  font-family: "DM Serif Display", serif;
  font-style: normal;
}

img {
  border-radius: 5px;
}

a:hover {
  color: rgb(152, 184, 152);
}

button:hover {
  background-color: rgb(152, 184, 152);
}

.home-h3 {
  font-size: x-large;
}

li {
  font-size: large;
}

.single-recipe-p {
  font-size: large;
}

.recipe-name {
  background-color: #d8e183;
  padding: 10px;
  border-radius: 2px;
  margin-top: 0px;
}

input {
  border-radius: 4px;
  padding: 8px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: white;
  font-family: "Roboto Slab", serif;
  font-family: "Sora", sans-serif;
  font-style: italic;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  width: 300px;
}

.search-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-to-recipe {
  color: #2e4d3f;
}

.recipe-results {
  text-align: center;
  margin-top: 50px;
}

.error-message {
  color: rgb(209, 32, 32);
}

#popover-basic {
  background-color: #d8e183;
  border-radius: 20px;
  padding: 10px;
}

/* phone screen */
@media screen and (max-width: 600px) {
  body {
    background-color: #fcfaf4;
  }
  .search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "DM Serif Display", serif;
    font-style: normal;
  }

  input {
    border-radius: 4px;
    padding: 8px;
    width: 300px;
    height: 50px;
    border: 1px solid #ccc;
    background-color: white;
    font-family: "Roboto Slab", serif;
    font-family: "Sora", sans-serif;
    font-style: italic;
  }

  .home-h2 {
    font-size: xx-large;
    margin: 20px;
  }

  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    height: 50px;
    width: 300px;
  }

  .link-to-home {
    color: #2e4d3f;
    font-size: 60px;
    text-decoration: none;
  }

  button {
    background-color: #d8e183;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    width: 200px;
    padding: 8px;
    color: black;
    font-family: "DM Serif Display", serif;
    font-style: normal;
  }

  .individual-recipes {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    margin: 20px;
  }

  .single-recipe {
    background-color: #fcfaf4;
    margin-top: 50px;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
}

/* laptop screen */
@media screen and (min-width: 600px) {
  .search-results {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    font-family: "DM Serif Display", serif;
    font-style: normal;
  }
  .individual-recipes {
    padding-top: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    margin: 40px;
    transition: all 0.3s ease;
  }

  .home-h2 {
    font-size: xx-large;
  }

  .individual-recipes:hover {
    transform: scale(1.1);
  }

  .link-to-home {
    color: #2e4d3f;
    text-decoration: none;
    font-size: 70px;
  }

  button {
    background-color: #d8e183;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    width: 200px;
    padding: 8px;
    color: black;
    font-family: "DM Serif Display", serif;
    font-style: normal;
  }

  .single-recipe {
    background-color: #fcfaf4;
    margin-top: 50px;
    display: flex;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
}
